* {
    margin: 0;
    padding: 0;
    font-family: verdana;
}

#video-container{
    width:100%;
    height:600px;
    overflow: hidden;
}

video{
    min-width: 100%;
    min-height: 100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: -1;
    position: fixed;
}

#contents{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#contents h1{
    font-size: 3em;
    margin: 10px 0;
    color:#fff;
    text-align: center;
    text-transform: uppercase;
}

#contents p{
    font-size: 1.2em;
    line-height: 2em;
    margin: 10px 0;
    color:#fff;
    text-align: center;
}

section{
    text-align:center;
    padding: 150px 200px;
    background: #fff;
}

section h1{
    font-size: 3em;
    margin: 10px 0;
    color:#000;
    text-align: center;
    text-transform: uppercase;
}

section p{
    font-size: 1.2em;
    line-height: 2em;
    margin: 10px 0;
    color:#000;
    text-align: center;
}

#sec2{
    background: transparent;
}

#sec2 h1{
    font-size: 3em;
    margin: 10px 0;
    color:#fff;
    text-align: center;
    text-transform: uppercase;
}

#sec2 p{
    font-size: 1.2em;
    line-height: 2em;
    margin: 10px 0;
    color:#fff;
    text-align: center;
}

footer{
    height:100px;
    color:#000;
    background: #fff;
    text-align: center;
    font-size: 16px;
    letter-spacing: inherit;
}

footer p{
    padding-top:45px;
}
